
.dot {
  height: 70px;
  width: 70px;
  background-color: #79ce78;
  border-radius: 50%;
  border: 0.35em solid #9c9999b4;
  /* box-shadow: 0 0 rgba(15, 28, 63, 0.125); */
  height: 90px;
  width: 90px;
  display: inline-block;
  padding:15px;
  margin: 2px;
  text-align:center;
  font-size: 16px;
  color: rgb(1, 37, 10);
  font-weight: bold;
  justify-content:space-around;
}
.navbar{
  background-color: #388e3c;
 
}

.container{
  display: flex;
  justify-self: center;
  flex-wrap: wrap;
  font-size: 16px;
  font-family: Georgia;
  border-color: #87888b;
  /* font-weight: bolder; */
  
  
 
  
}
.container-dashboard{
  display: flex;
  flex:1;
  justify-content: center;
  flex-direction: column;
  margin: 30px;
}
.table-dashboard{
  color:#424242;
  /* background-color: #9ea7aa; */
  border-collapse: collapse;
  margin-left: 100px;
  margin-right: 200px;
  font-family: Georgia;
  /* font-weight: normal; */
}
.formselect{
  display: flex;
  width: 300px;
  height: 40px;
  margin-left: 170px;
  align-items: flex-end;


}
.table-chart{
  height: 400px;
  width: 400px;
  flex-wrap: wrap;
 
}
.signin{
  flex: 1;
  flex-direction: column;
  justify-content:center;
  height: 500px;
  width: 500px;
  border-radius: 10%;
  background-image: url("/src/components/logo.jpg"); background-repeat: no-repeat; background-size: 500px 500px; border: solid 8px rgb(185, 180, 180); padding: 10px; 
  /* opacity: 0.8; */
  /* filter: alpha(opacity=80); */
  padding: 40px;
  margin-left: 420px;
  margin-top: 90px;
}

.password{
  /* flex-direction: row; */
  display: flex;
  /* justify-content: center;
  align-items: center; */
}
.iconEye{
  position: absolute;
  opacity: 0.7;
margin-top: 15px;
margin-left: 120px;
font-size: 20px;

}
.inputIcon{
  display: flex;
  flex-direction: row;
 justify-content: space-evenly;

}
.btnFgSu{
  font-weight: 'bold';
   color: #0039cb; 
   font-family:'Geogia';
    font-size:20px 
}
.table-head{
  font-size: 18px;
  background-color:#e0e0e0;

}
.table{
  flex: 1;
  justify-content: center;
  margin-left: 70px;
}
.datadetails{
  margin: 40px 50px 60px 100px;
  padding: 10px;
  flex: 1;
  justify-content: center;

}
.details{
  margin: 30px 50px 10px 100px;
  padding: 10px;
  flex: 1;
  justify-content: center;
  flex-direction: row;


}
.table-details{
  flex: 1;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  display: flex;
  /* margin-left: 30px; */
}
/* .sensorType{
  flex-direction: column;
  flex: 1;
  width: 90px;
  height: 90px;
  margin-left: 200px;
} */
.table-value{
  height: 100%;
  width: 400px;

}
.chartdetails{
  height: 500px;
  width: 800px;
  /* margin: 150px; */

}
@keyframes my { 
  0% { color: #087f23;  } 
  30% { color: #9ea7aa;  }
  20% { color: #56595a;  }
  50% { color:  #80e27e  } 
}
.slogan{
  font-weight:faBold;
  font-size:50px;
  color: #087f23  ;
  font-family: 'Segoe UI';
  -webkit-animation: my 5000ms infinite;
  -moz-animation: my 1000ms infinite; 
  -o-animation: my 1000ms infinite; 
  animation: my 1000ms infinite;
  /* text-align: center; */
  margin-top: 50px;
  margin-left: 350px;

  
}
.container-labs{
  color:#424242;
  border-collapse: collapse;
  margin-left: 100px;
  margin-right: 200px;
  margin-top: 50px;
  font-family: Georgia,;
display: flex;
flex-direction: column;


}
.form{
  display: flex;
justify-content: center;
  flex-direction: row;
margin-bottom: 30px;
margin-left: 65px;
background-color: #d2d4d6c2;
padding: 30px;
width: 1100px;

}
.formg1{

  margin-right: 50px;
}

.form-groupdevices{
    border: 10px;
    border-collapse: collapse;
    border-color: #4caf50;
}
.infoDeviceTable{
  display: flex;
  margin-right: 60px;
  /* margin-left: 10px; */
  margin-right: 5px;
  justify-content: center;
  font-family: Georgia, ;
}
.btnDeviceForm{
  display: flex;
  margin-bottom: 20px;
  justify-content: center;

  
}
.container-user{

background-color: #d2d4d6c2;
border-radius: 15px;
width: max-content;
padding: 50px;
font-family: Georgia,;
margin: 50px 200px 50px 200px;
font-weight: bold;
}
.form-select{
  width: 80%;
  display: flex;
 
}
.infoTable{
  display: flex;
  margin-right: 60px;
  margin-left: 100px;
  margin-right: 400px;
  justify-content: center;
  font-family: Georgia, ;
}
.btnUser{
  margin-left: 350px;
  display: flex;
  margin-bottom: 20px;

  
}

 



